*.iml
.gradle
/local.properties
/.idea/gradle.xml
/.idea/misc.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.qodo

app/google-services.json
/.idea/.gitignore
/.idea/.name
/.idea/AndroidProjectSystem.xml
/.idea/appInsightsSettings.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/codeStyles/Project.xml
/.idea/runConfigurations.xml
/.idea/studiobot.xml
/.idea/vcs.xml
